APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomStringSomeRandomString

DB_HOST=ec2-54-247-170-228.eu-west-1.compute.amazonaws.com
DB_DATABASE=da8g0utb8bc76b
DB_USERNAME=cvflzmwgbrfykp
DB_PASSWORD=_Ebi40wquUxcwXNUKE4iUizyo2

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
HELLO
HELLO
